go 1.22.0

use (
	./volumes/go/replib
	./volumes/go/runner
	./volumes/go/trial_balance_pipeline/rs_tb_pl
	./volumes/go/tutorials/azure_sdk/01-azstart
	./volumes/go/tutorials/database/mysql/access
	./volumes/go/tutorials/database/mysql/insert
	./volumes/go/tutorials/database/mysql/prepared_statement
	./volumes/go/tutorials/database/mysql/query
	./volumes/go/tutorials/database/mysql/tutorial_access_database
	./volumes/go/tutorials/docker/go_web_docker/src
	./volumes/go/tutorials/http/basics/fileserver
	./volumes/go/tutorials/http/basics/webapp/gowiki
	./volumes/go/tutorials/k8s/out-of-cluster-client-configuration
	./volumes/go/tutorials/msal/graphtutorial
	./volumes/go/tutorials/oauth2/authentication_flow
	./volumes/go/tutorials/oauth2/github_authentication_flow
	./volumes/go/tutorials/oidc/go_oidc_example
	./volumes/go/tutorials/prometheus/counter
	./volumes/go/tutorials/rabbitmq/hellorabbit/receiver
	./volumes/go/tutorials/rabbitmq/hellorabbit/sender
	./volumes/go/tutorials/redis_sentinel/redis_sentinel_test
	./volumes/go/tutorials/ssl/ssl_server
	./volumes/go/tutorials/webhook/webhook
)
