go 1.20

use (
	./volumes/go/replib
	./volumes/go/runner
	./volumes/go/tutorials/azure_sdk/01-azstart
	./volumes/go/tutorials/database/mysql/access
	./volumes/go/tutorials/database/mysql/insert
	./volumes/go/tutorials/database/mysql/prepared_statement
	./volumes/go/tutorials/database/mysql/query
	./volumes/go/tutorials/database/mysql/tutorial_access_database
	./volumes/go/tutorials/http/basics/fileserver
	./volumes/go/tutorials/http/basics/webapp/gowiki
	./volumes/go/tutorials/oauth2/go_oauth2_example
	./volumes/go/tutorials/prometheus/counter
	./volumes/go/tutorials/webhook/webhook
)
