# Publish Power BI report

Ricardo,
This is my first time to publish a Power BI report in the Linamar Fabric workspace, so please bear with me. I will keep you posted as to my progress.

The following is in markdown format and can be viewed by copying and pasting the contents below into an online markdown viewer, such as at <https://markdownlivepreview.com/>.

I will setup a meeting about the following option:

Rather than **[share the Excel using SharePoint or OneDrive](https://support.microsoft.com/en-us/office/share-a-document-using-sharepoint-or-onedrive-807de6cf-1ece-41b9-a2b3-250d9a48f1e8)** we can create a Power BI report from the Excel workbook but we will have to change it's format as described here:

- **[Tutorial: From Excel workbook to a Power BI report in Microsoft Teams](https://learn.microsoft.com/en-us/power-bi/create-reports/service-from-excel-to-stunning-report)**

After we do that we will be able to subscribe to that report in Microsoft teams or send out an Email link.

## Share Email link

Clinking the link brings up a sign in screen.

To view a Power BI report with a Microsoft Fabric free license, the report must be in a workspace hosted on a Fabric F64 or larger SKU, and the user needs a viewer role on that workspace.

## Share to Microsoft Teams

Once the report is shared in Microsoft Teams the user has the option to periodically refresh it.

## test

I sent out both an Email link and Microsoft Teams message you should be able to subscribe to.

Linamar will ask you to enroll your computer before being allowed to click on the link.
